@charset "utf-8";

html, body{
	height:100%;
	position:relative;
	margin:0;
	padding:0;
}

html, body{
	height:100%;
	position:relative;
}
.pages, .page{
	height:100%;
	position:relative;
	background-color:#b5b5b5;
}

.page{
	display:-webkit-flex:;
	display:flex;
	flex-direction:column;
	background-color:#333;
}
.header, .footer{
	flex:0 0 auto;
	height:50px;
	overflow:hidden;
	background-color:#fff;
} 
.content{
	flex:1 1 auto;
}